html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Rules for base elements
 */
html {
  font-size: 68.5%; }

.wrapper {
  overflow: hidden; }

body {
  color: #2e2e2e;
  font-family: "Lato", sans-serif;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

p, li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.6; }

p, ul, ol, dl {
  margin: 0 0 0.5em 0; }

li {
  list-style: none; }

p {
  overflow: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

/*----------------- T A G S --------------------------*/
body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

/*----------------- C l A S E S --------------------------*/
.header-productos {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .header-productos:last-child {
    margin-right: 0; }

.first-navbar {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .first-navbar:last-child {
    margin-right: 0; }

.nav-main {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .nav-main:last-child {
    margin-right: 0; }

.display-main-image {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .display-main-image:last-child {
    margin-right: 0; }

.about-product {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .about-product:last-child {
    margin-right: 0; }

.review-producto {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .review-producto:last-child {
    margin-right: 0; }

/* -------------------- Productos relacionados -----------------*/
.productos-relacionados {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin: 4% 0;
  text-align: center; }
  .productos-relacionados:last-child {
    margin-right: 0; }

.productos-relacionados-asus-zenefone {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .productos-relacionados-asus-zenefone:last-child {
    margin-right: 0; }

/*----------------------------------------------------------------*/
.imagenes-productos-item {
  display: none; }

.descripcion-producto,
.about-product {
  padding: 0 4%; }

.informacion-producto {
  margin: 0;
  padding: 0; }

.about-product {
  margin-top: 10%; }

.review-producto-usuario {
  background: #F3F3F3;
  margin: 3% 0;
  padding: 4%; }
  .review-producto-usuario h3 {
    display: inline-block;
    width: 40%;
    word-spacing: 5px; }

.fa-star, .fa-star-half-o {
  color: #f5cb5c;
  font-size: 1.5rem; }

/*////////////////////////////// Media Queries 768px /////////////////////////*/
@media (min-width: 768px) {
  /* Dividir la parte de productos en dos partes */
  .informacion-producto {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .informacion-producto:last-child {
      margin-right: 0; }
  .informacion-producto-block {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .informacion-producto-block:last-child {
      margin-right: 0; }
  .informacion-producto-block-informativo {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .informacion-producto-block-informativo:last-child {
      margin-right: 0; } }

label,
.webform-container-inline label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px; }

label.option {
  display: inline;
  font-weight: 400;
  margin-left: 0.5em; }

select {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: solid #e1e1e1 1px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; }
  @media screen and (min-width: 767px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 300px; } }

input[type="checkbox"],
input[type="radio"] {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input[type="submit"] {
  border: 0;
  outline: 0;
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out; }
  @media screen and (min-width: 767px) {
    input[type="submit"] {
      width: auto;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0; } }

.form-type-radio {
  margin-bottom: 5px; }

.field-widget-text-textarea .form-type-textarea {
  margin-bottom: 10px; }

.filter-wrapper {
  border: 0;
  background: #fff;
  border-radius: 5px; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.webform-component {
  margin-bottom: 15px; }

.fa-shopping-cart {
  color: white;
  margin-right: 5%; }

.first-navbar {
  background-color: #2e2e2e;
  padding: 5%; }
  .first-navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-size: 2.4rem; }
  .first-navbar h1 {
    display: inline-block;
    width: 75%; }
  .first-navbar input {
    display: none; }

.nav-main {
  background-color: #2e2e2e;
  display: none;
  height: auto; }
  .nav-main li {
    color: white;
    margin: 6% 0;
    font-size: 15px;
    font-size: 1.5rem; }

button {
  background: #2DCC70;
  border: none;
  color: white;
  cursor: pointer;
  padding: 4% 8%;
  width: 100%;
  font-size: 18px;
  font-size: 1.8rem;
  border-radius: 30px;
  margin: 5% 0;
  margin-top: -2px; }
  button .fa {
    margin-left: 4%; }

/*/////////////////////////// media queries 768px ///////////////////////////*/
@media (min-width: 768px) {
  .fa-shopping-cart {
    margin-left: 7%;
    margin-right: 7%; } }

/*/////////////////////////// media queries 1024px ///////////////////////////*/
@media (min-width: 1024px) {
  .fa-bars {
    display: none; }
  .first-navbar {
    padding: 2%; }
  .nav-main {
    display: inline-block;
    height: 67px; }
    .nav-main ul {
      padding-left: 1%;
      width: 100%; }
      .nav-main ul li {
        display: inline-block;
        margin: 1% 0;
        padding: 0 1%; }
        .nav-main ul li:hover {
          border-bottom: solid 2px #2DCC70; }
        .nav-main ul li a {
          cursor: pointer; } }

/*
 * Price style .
 */
.informacion-producto-item-precio {
  background: #F3F3F3;
  width: 100%;
  text-align: center;
  height: 4rem;
  font-size: 25px;
  font-size: 2.5rem;
  border-radius: 11px; }

.categoria {
  float: right;
  padding: 1% 9%;
  border-left: 1px solid #000;
  font-size: 1.5rem;
  font-size: 15px; }

/*////////////////////////////// Media Queries 768px /////////////////////////*/
@media (min-width: 768px) {
  .about-product {
    font-size: 30; }
  .categoria {
    display: inline-block;
    float: none;
    text-align: center;
    border-left: 1px solid #000;
    padding: 1% 2%; }
  .nombre-producto {
    font-size: 3rem;
    border-bottom: 1px solid black;
    margin-bottom: 3%;
    padding-bottom: 2%;
    width: 30%; }
  button {
    background: #2DCC70;
    border: none;
    color: white;
    cursor: pointer;
    padding: 4% 8%;
    width: 80%;
    color: #FFF;
    padding: 3% 6%;
    border: medium none;
    font-size: 2rem;
    margin: -2px 0px 5%;
    border-radius: 40px;
    box-shadow: 1px 3px 1px 2px #2dce73; }
  .informacion-producto-item-precio {
    width: 80%;
    height: 5rem;
    font-size: 3rem; } }

/*////////////////////////////// Media Queries 1024px /////////////////////////*/
@media (min-width: 1024px) {
  .about-product {
    margin-top: 1%; } }

.informacion-producto-user-review span {
  font-weight: bold; }

/*--------------------- Media Queries 768px -------------------*/
@media (min-width: 768px) {
  .descripcion-producto-title {
    border-bottom: 1px solid black;
    padding: 2%;
    font-size: 2rem;
    width: 70%;
    margin-bottom: 30px;
    display: inline-block;
    margin-top: 30px; }
  .productos-relacionados-asus-zenefone {
    margin-top: 50px;
    border-left: 1px solid #ccc; }
  .productos-relacionados-asus-title {
    font-size: 2rem; }
  .productos-relacionados-asus-img {
    width: 65%; }
  .productos-relacionados-asus-precio {
    font-size: 2rem; }
  .review-producto-usuario h3 {
    font-size: 1.5rem;
    width: 150px; } }

@media (min-width: 1024px) {
  .descripcion-producto-informacion {
    margin: 15px 0;
    margin-bottom: 15px; }
  iframe {
    height: 470px;
    width: 100%; } }

footer {
  background: #2e2e2e;
  clear: both;
  padding: 4%; }
  footer h5 {
    color: #f1f1f1;
    margin-top: 3%;
    text-align: center; }
/*# sourceMappingURL=style.css.map */