//
// Variables
//

// Sprite
$sprite-image: "../images/global-sprite";

// Typography
$typo-content: 'Lato', sans-serif;

// Colors
$primary-color: #2e2e2e;
$second-color: #f1f1f1;
$call-to-action: #2DCC70;
$light-gray:  #F3F3F3;
$yellow-raiting: #f5cb5c;

// Neat variables
$max-width: 1200px;
$grid-colums: 13;
$max-content: 960px;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;
