.informacion-producto-user-review span {
  font-weight: bold;
}

/*--------------------- Media Queries 768px -------------------*/

@media (min-width:768px) {
  .descripcion-producto-title {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 2%;
    font-size: 2rem;
    width: 70%;
    margin-bottom: 30px;
    display: inline-block;
    margin-top: 30px;
  }

  .productos-relacionados-asus-zenefone {
    margin-top: 50px;
  }

  .productos-relacionados-asus-zenefone:nth-child(2n) {
    border-right: 1px solid #ccc;
  }

  .productos-relacionados-asus-title {
    font-size: 2rem;
  }

  .productos-relacionados-asus-img {
    width: 65%;
  }

  .productos-relacionados-asus-precio {
    font-size: 2rem;
  }
  .review-producto-usuario h3 {
    font-size: 1.5rem;
    width: 150px;
  }
}
/*--------------------- Media Queries 1024px -------------------*/
@media (min-width:1024px) {
  .descripcion-producto-informacion {
    margin: 15px 0;
    margin-bottom: 15px;
  }

  iframe {
    height: 470px;
    width: 100%;
  }

  .descripcion-producto-video {
    margin-top: 6%;
  }

}
/*--------------------- Media Queries 1280px -------------------*/
@media (min-width:1280px) {
  .productos-relacionados-asus-img {
    width: 40%;
  }

  .productos-relacionados-asus-zenefone {
    margin-top: 10px;
  }
}
/*--------------------- Media Queries 1366px -------------------*/
@media (min-width:1366px) {
  .informacion-producto-block-informativo {
    margin-top: 27px;
  }

  iframe {
    width: 80%;
    margin-left: 10%;
  }

  .container {
    max-width: 1366px;
    margin: 0 auto;
  }
}






