.informacion-producto-user-review span {
  font-weight: bold;
}

/*--------------------- Media Queries 768px -------------------*/

@media (min-width:768px) {
  .descripcion-producto-title {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 2%;
    font-size: 2rem;
    width: 70%;
    margin-bottom: 30px;
    display: inline-block;
    margin-top: 30px;
  }

  .productos-relacionados-asus-zenefone {
    margin-top: 50px;
    border-left: 1px solid #ccc;
  }

  .productos-relacionados-asus-title {
    font-size: 2rem;
  }

  .productos-relacionados-asus-img {
    width: 65%;
  }

  .productos-relacionados-asus-precio {
    font-size: 2rem;
  }
}
