footer {
    background: $primary-color;
    clear: both;
    padding: 1%;
    width: 100%;
    h4 {
        color: $second-color;
        font-size: 1.5rem;
        margin-top: 3%;
        text-align: center;
    }
}
