//main image section
//arregla nav fixed0


.fa-shopping-cart {
  color: white;
  margin-right: 5%;
}

.first-navbar {
  background-color: $primary-color;
  padding: 5%;
  a {
    color: white;
    text-decoration: none;
    @include font-size(24);
  }
  h1 {
    display: inline-block;
    width: 75%;
  }
  input {
    display: none;
  }
}

//mmain nagigation
.nav-main {
  background-color: $primary-color;
  display: none;
  height: auto;
  li {
    color: white;
    margin: 6% 0;
    @include font-size(15);
  }
}


button {
  @include buy-button(white, $call-to-action, 4% 8%, 100%);
  @include font-size(18);
  border-radius: 30px;
  margin: 5% 0;
  margin-top: -2px;
  .fa {
    margin-left: 4%;
  }
}
/*/////////////////////////// media queries 768px ///////////////////////////*/
@media (min-width:768px) {
  .fa-shopping-cart {
    margin-left: 7%;
    margin-right: 7%;
  }
}
/*/////////////////////////// media queries 1024px ///////////////////////////*/
@media (min-width:1024px) {
  .fa-bars {
    display: none;
  }
  .first-navbar {
    padding: 2%;
  }
  .nav-main {
    display: inline-block;
    height: 67px;
    ul {
      padding-left: 1%;
      width: 100%;
      li {
        display: inline-block;
        margin: 1% 0;
        padding: 0 1%;
        &:hover {
          border-bottom: solid 2px $call-to-action;
          //padding: 5px 0;
        }
        a {
          cursor: pointer;
        }
      }
    }
  }
}




















